
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  outline: 1px solid black;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  background-color: peachpuff;

}

#Main-Title { 

  text-align: center;
  font-size: 2rem;
  color: peru;

}


#Main-Content { 

  display: flex; justify-content: start; align-items: center; gap: 5vw;
  width: 100vw; height: 88.5vh;

}


#Left-Column { 

  display: grid; 
  border-radius: 1.5%; 
  background-color: peru; 
  width: 20%; height: 100vh; 

}

#LeftColBut-Div {

  display: flex; flex-direction: column; gap: 15%;
  margin-right: auto; margin-left: 0.7vw; padding: 1.5rem;
  height: 30vh; width: 5vw;

  
}


.LeftColButton { 

  background-color: orangered; color: orange; font-weight: bold;
  height: 6vh; width: 12vw; margin-right: auto; 
  border-radius: 28%; border: 3px solid orange; 
  cursor: cell;
  
}

#Projects-Title {

  color: orange; 
  margin-left: 8rem; margin-top: -35vh;

}

#MyProjects-Content {

  display: flex; flex-direction: column; gap: 20%;
  color: orangered; background-color: orange; font-size: 0.6rem;
  width: 16vw; height: fit-content; margin-top: -47vh; margin-left: 2vw; border-radius: 18%;

}


#Right-Content { 

  background-color: peachpuff;
  width: auto; height: 100%; 
  margin-left: 25vw;

}